/* CSS is how you can add style to your website, such as colors, fonts, and positioning of your
   HTML content. To learn how to do something, just try searching Google for questions like
   "how to change link color." */

body {
  background-color: white;
  color: black;
  font-family: "Verdana";
  text-align: center;
  padding-bottom: 50px;
}

.content {
  background-color: white;
  border: 4px solid lightgrey;
  border-style: inset;
  width: 75%;
  margin: auto;
  padding-bottom: 50px;
  text-align: center;
  padding-left: 70px;
  padding-right: 70px;
  font-size: 18px;
  }
  
  .cap {
  border: thin #c0c0c0 solid;
    display: flex;
    flex-flow: column;
    padding: 5px;
    max-width: 250px;
    margin: 5px;
  }
  
  d {
    font-size: 12px;
    }
  
  .scroll {
  background-color: white;
  border: 4px solid lightgrey;
  border-style: inset;
  width: 50%;
  margin: auto;
  }
  
  .button {
  background-color: white;
  border: transparent;
    }
    
  .peepee {
    position: fixed;
    bottom: 0;
    }
    
table {
  margin: auto;
  text-align: center;
  padding-left: 70px;
  padding-right: 70px;
}

td {
  border-style: inset;
  margin: auto;
  text-align: center;
  padding-left: 70px;
  padding-right: 70px;
}

.bio {
  text-align: left;
  font-size: 20px;
  }